.search-box{
    z-index: 999999;
    background-color: inherit;
}

::ng-deep .search-box .mat-form-field-outline{
    background-color: white;
}
::ng-deep .cdk-overlay-pane.scanner-preview-container{
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    height: 240px;
}

.scanner-preview-push{
    width: 30vw;
    
    height: 30vh;
    background-color: blue;
}