.layout-main {
    min-height: 100vh;
}

.header-main {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
#content-main{}

.header-title-page {
    margin-left: 1em;
    color: white;
    font-weight: 600;
    font-size: larger;
}

.footer-navigation-main {
    padding: 1.5rem 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #001529;
    >div {
        width: 100%;
    }
}