<a [routerLink]="path" >
  <mat-card class="show-case-shop-item-ku">
      <img mat-card-image [src]="data.image" [alt]="'enterprise photo of '+data.name">
      <!-- <mat-card-header> -->
          <mat-card-title class="show-case-name" >{{data.name}}</mat-card-title>
          <mat-card-subtitle >{{data.category}}</mat-card-subtitle>
      <!-- </mat-card-header> -->
      <mat-card-content class="show-case-description">
        <p>
          {{data.description}}
        </p>
        <app-show-case-rating [rating]="data.rating"></app-show-case-rating>
        <span> <fa-icon [icon]="iconLoc"></fa-icon>&nbsp;{{data.distance}} km</span>
      </mat-card-content>
  </mat-card>
</a>