:host {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    width: calc((100% / 4) - 14px);
    margin: 7px;
    &.handset{
        width: calc((100% / 2) - 14px);
        img{
            height: 272px;
            object-fit: cover;
        }
    }
    &.tablet{
        width: calc((100% / 3) - 14px);
        img{
            height: 316px;
            object-fit: cover;
        }
    }
    img{
        height: 284px;
        object-fit: cover;
    }
}
