<app-portal-container querySelector="#main-header">
    <app-nav-search></app-nav-search>
</app-portal-container>
<div class="app-container">
    <div><p>Pencarian terakhir kamu:</p></div>

    <!-- <div class="app-showcase-items">
        <app-show-case-shop-item [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item  [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item  [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item  [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item [ngClass]="deviceSize"  (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item [ngClass]="deviceSize"  (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item [ngClass]="deviceSize"  (click)="goToShop()" ></app-show-case-shop-item>
    </div>
    <app-pagination class="app-showcase-items-pagination"></app-pagination> -->
</div>

<div class="app-container app-showcase-items-container">
  
    <div class="app-showcase-items">
        <app-show-case-shop-item [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item  [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item  [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item  [ngClass]="deviceSize" (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item [ngClass]="deviceSize"  (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item [ngClass]="deviceSize"  (click)="goToShop()" ></app-show-case-shop-item>
        <app-show-case-shop-item [ngClass]="deviceSize"  (click)="goToShop()" ></app-show-case-shop-item>
    </div>
    <app-pagination class="app-showcase-items-pagination"></app-pagination>
</div>