.group-item-info{
    margin-left: 1rem;
}

.my-shop-list-item-button-action-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}