<mat-card style="width:100%;padding:2rem 0px; display:flex;flex-direction: column;justify-items: center;" class="mat-elevation-z4">
  <mat-card-header >
    <mat-card-title class="color-primary">{{data.name}}</mat-card-title>
  </mat-card-header>
  <div class="img-card-usaha">
    <img [src]="data.photo" style="max-width: 100%;" (error) ="changeSource($event)"  [alt]="'photo of '+data.name">
  </div>
  <mat-card-content style="padding:7px 7px;">
    <p>{{data.address}}</p>
  </mat-card-content>
  <mat-card-actions style="display:flex;flex-direction: row;flex-wrap: wrap; justify-items: center; justify-content: space-evenly;padding:0px 20px;gap: 10px;">
    <a [routerLink]="[pathDASHBOARD,data.id, defaultDashboard]" mat-flat-button color="primary" *ngIf="data.owned">Dashboard</a>
    <a [routerLink]="[pathWORKSPACE,data.id, defaultWorkspace]" mat-flat-button color="accent">Workplace</a>
  </mat-card-actions>
</mat-card>

