<app-portal-container querySelector="#dashboard-header">
    <app-nav-page title="Detail Transaksi" color="primary"></app-nav-page>
</app-portal-container>



<mat-tab-group>
    <mat-tab label="Struk"> 
        <div class="container">
            <div class="prop-form">
                <span>Id</span>
                <span>{{data.id}}</span>
            </div>
            <div class="prop-form">
                <span>Online?</span>
                <span><i [ngClass]="data.isOnline===true?'fas fa-check':'fas fa-times'"></i></span>
            </div>
            <div class="prop-form">
                <span>Tanggal</span>
                <span>{{data.createdAt | date}}</span>
            </div>
            <div class="prop-form">
                <span>Ke</span>
                <span>{{data.to}}</span>
            </div>
            <div class="prop-form">
                <span>Metode Pembayaran</span>
                <span>{{data.paymentMethodName}}</span>
            </div>
            <table class="goods-ordered-container">
                <app-goods-ordered class="receipt-item" *ngFor="let item of data.goodsOrdereds" [data]="item"></app-goods-ordered>
            </table>     
            <table class="payment-table">
                <tfoot style="margin-top:4px;">
                    <tr 
                        style="text-align: right; font-weight: 600; border-top:1px solid gray;line-height: 2rem;"
                    >
                        <td colspan="3" class=""><span>Total Bayar : </span></td>
                        <td colspan="1" style="padding-right: 10px;">{{data.total|currency:'Rp.  ':'symbol':'0.0-0'}}</td>
                    </tr>
                    <tr 
                        style="text-align: right; border-top:1px solid gray;"
                    >
                        <td colspan="3" class=""><span>Uang Bayar : </span></td>
                        <td colspan="1" style="padding-right: 10px;">
                        {{data.payment |currency:'Rp.  ':'symbol':'0.0-0'}}
                        </td>
                    </tr>
                    <tr 
                        style="text-align: right; border-top:1px solid gray;padding-top:3px; padding-bottom:3px; line-height: 2rem;"
                        >
                        <td colspan="3" class=""><span>Kembalian : </span></td>
                        <td colspan="1" class="pr-3" style="padding-right: 10px;">{{data.return|currency:'Rp.  ':'symbol':'0.0-0'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Progres"> 
        <div class="container">
            <div class="progress-container">
                <div class="progress-item" *ngFor="let item of data.orderProgresses">
                    <span>{{item.name}}</span>
                    <span>{{item.createdAt | date}}</span>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


