.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.prop-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    span:nth-child(1){
        font-weight: 600;
    }
}
.progress-container{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    >.progress-item{
        // display: flex;
        // flex-direction: row;
        span:nth-child(1){
            margin-right: 2rem;
        }
    }
}
.goods-ordered-container{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
    display: table;
    table-layout: auto;
    border-collapse:collapse;
    >.receipt-item{
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        width: 100%;
        height: 100%;
        padding-top: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        display: table-row-group;
    }
}
.payment-table{
    margin-top: 1rem;
    display: table;
    width: 100%;
    border-collapse:collapse;
    padding: 0.5rem 1rem;
    >tfoot{
        margin-top: 2rem;
    }
}