<form [formGroup]="form" class="form-input-container">
    <mat-form-field appearance="fill" shouldLabelFloat="true" floatLabel="always">
        <mat-label>Banyak Barang Masuk</mat-label>
        <input autocomplete="off" matInput placeholder="Banyak Barang Masuk" formControlName="Increment" type="number" style="text-align: right;" min="1" >
        <mat-hint class="color-warn" *ngIf="(IncrementProduct?.dirty || IncrementProduct?.touched) && IncrementProduct?.errors?.required">Banyak barang masuk harus diisi.</mat-hint>
        <mat-hint class="color-warn" *ngIf="(IncrementProduct?.dirty || IncrementProduct?.touched) && IncrementProduct?.errors?.min">Nilai minimal adalah 1.</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" shouldLabelFloat="true" floatLabel="always">
        <mat-label>Harga Beli Total</mat-label>
        <span matPrefix>Rp&nbsp;</span>
        <app-input-currency placeholder="Harga Beli Total" formControlName="BuyPriceTotal" ></app-input-currency>
        <mat-hint class="color-warn" *ngIf="(BuyPriceTotalProduct?.dirty || BuyPriceTotalProduct?.touched) && BuyPriceTotalProduct?.errors?.required">Harga beli total harus diisi.</mat-hint>
        <mat-hint class="color-warn" *ngIf="(BuyPriceTotalProduct?.dirty || BuyPriceTotalProduct?.touched) && BuyPriceTotalProduct?.errors?.min">Nilai minimal adalah 1.</mat-hint>
    </mat-form-field>
    <div class="form-action-container">
        <button mat-button color="warn" (click)="cancel()" type="button">Batal</button>
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.dirty || ((form.dirty || form.touched) && !form.valid)">Submit</button>
    </div>
</form>