<app-portal-container querySelector="#workspace-utility">
  <form class="w-full" [formGroup]="formSearch">
    <app-search-input-barcode
      labelName="Cari Produk"
      [parentForm]="formSearch"
      fieldName="Search"
      formControlName="Search"
      class="w-full h-full"
    ></app-search-input-barcode>
  </form>
</app-portal-container>

<ng-container *ngIf="link_to_add$ | async as link_to_add">
  <button
    mat-fab
    color="primary"
    class="app-btn-add"
    matTooltip="Tambah produk toko"
    matTooltipPosition="before"
    matTooltipClass="app-tooltip"
    (click)="goto(link_to_add)"
  >
    <mat-icon>{{ icons.add }}</mat-icon>
  </button>
</ng-container>

<ng-container *ngIf="productList$ | async as productList">
  <mat-nav-list
    #listProductContainer
    class="app-list-container"
    *ngIf="productList.length > 0; else noProduct"
  >
    <a
      mat-list-item
      [routerLink]="item.link"
      *ngFor="let item of productList; let i = index"
      class="app-item-list-continer"
    >
      <app-my-product-list-item
        [item]="item ?? item"
        class="app-item-list-content"
      ></app-my-product-list-item>
    </a>
  </mat-nav-list>
</ng-container>
<ng-template #noProduct>
  <div class="app-no-item-container">
    <span>Tidak ada produk.</span>
  </div>
</ng-template>
<app-portal-container querySelector="#workspace-footer">
  <app-pagination
    [pageSize]="formSearch.controls.PageSize.value"
    [pageNumber]="formSearch.controls.PageNumber.value"
    (pageSelectedChanged)="pageSelectedChanged($event)"
  ></app-pagination>
</app-portal-container>
