<app-portal-container querySelector="#workspace-header">
    <app-nav-page [title]="titlePage" ></app-nav-page>
</app-portal-container>
<app-form-info-product-ku 
    [idUsaha]="idUsaha" 
    [dataGoods]="dataGoods" 
    (updateInfoClickEvent)="update()"
    (updatePriceClickEvent)="updatePrice()"
    (addStockClickEvent)="addStock()"
    (adjustStockClickEvent)="adjustStock()"
    >


    <app-sell-price-chart  [id]="dataGoods.id" id="sellproductchart"></app-sell-price-chart>
    
    <app-buy-price-chart style="flex-grow:1;" [id]="dataGoods.id" id="buyproductchart"></app-buy-price-chart>
    
    <app-n-sold-chart style="flex-grow:1;" [id]="dataGoods.id" id="nsoldthischart"></app-n-sold-chart>


</app-form-info-product-ku>