
<div 
    style="margin-left:auto;margin-right:auto;width: 100%; height: 100%; display:flex; flex-direction: column;justify-items: center; justify-content: center; align-items: center;"
>
    <div style="font-size: large; text-align: center;margin-bottom:4rem;" class="color-primary">
        <p><span style="font-weight: 500;font-size: larger;">Usahaku</span> memakai authentikasi yang terintegrasi dengan berbagai produk dari Usahaku.</p>
        <p>Untuk masuk dan daftar silahkan melalui <span style="font-weight: 500;font-size: larger;">Usahaku Auth</span>.</p>
    </div>
    <div style="display: flex;flex-direction: row;justify-content: center;justify-items: center;align-items: center;align-content: center;">
        <button mat-raised-button color="warn" (click)="logout()" style="margin-right: 1rem;">Keluar</button>
        <button mat-raised-button color="primary" (click)="login()" style="margin-right: 1rem;">Masuk</button>
        <!-- <app-button-ku-rectangle text="Masuk" theme="satu" (click)="login()"></app-button-ku-rectangle>
        <app-button-ku-rectangle text="Daftar" theme="tiga" (click)="login()"></app-button-ku-rectangle> -->
    </div>
</div>
<!-- <app-button-ku-rectangle text="Login" theme="satu" (click)="login()"></app-button-ku-rectangle> -->
<!-- <app-button-ku-rectangle text="logout" theme="dua" (click)="logout()"></app-button-ku-rectangle> -->
