<app-portal-container querySelector="#auth-header">
  <app-nav-page title="Masuk"></app-nav-page>
</app-portal-container>
<div class="app-center-container">
  <form class="app-form-flex vertical" [formGroup]="form" (ngSubmit)="submit()">
    <div class="app-form-title">
      <span>Masuk</span>
    </div>
    <ng-container  class="app-form-message" *ngIf=" (formMessage$ | async) as formMessage">
    </ng-container >
    <mat-form-field appearance="fill" class="auth-form-field">
      <mat-icon class="auth-mat-form-field-prefix" matPrefix>email</mat-icon>
      <mat-label>Email or Username</mat-label>
      <input matInput formControlName="Identifier" />
      <mat-error *ngIf="form.getError('required', 'Identifier')">
        Email or Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="auth-form-field">
      <mat-icon class="auth-mat-form-field-prefix" matPrefix>password</mat-icon>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="Password" />
      <mat-error *ngIf="form.getError('required', 'Password')">
        Password is required
      </mat-error>
    </mat-form-field>
    <div class="app-form-action horizontal center">
      <button
        type="submit"
        [disabled]="form.invalid || (submit_state$ | async)"
        mat-raised-button
        color="accent"
      >
        Masuk
      </button>
    </div>
  </form>
  <div style="margin-top: 1rem">Belum punya akun? <a [routerLink]="pathToRegister">Daftar</a></div>
</div>
