@import "ng-zorro-antd/ng-zorro-antd.min.css";


.form-field-confirm-password {
  .ant-form-item-extra {
    word-wrap: break-word !important;
    color: #ff4d4f !important;
  }
}

.dummy {
  .p {
    padding: 100px;
  }
}

html {

  @media screen and (max-width: 599.98px) and (orientation: portrait),
  (max-width: 959.98px) and (orientation: landscape) {
    font-size: 14px !important;
  }

}

html,
body {
  min-height: 100%;
  min-width: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-spacer-horizontal {
  flex: 1 1 auto;
}

.app-title {
  // color: mat.get-color-from-palette($usahaku-app-primary, 700);
  font-size: 1.875rem
    /* 30px */
  ;
  line-height: 2.25rem
    /* 36px */
  ;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  margin-left: 1rem;
}

.app-page-container-top-bottom {
  display: block;
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  min-height: calc(100vh);

  &.main {
    padding-bottom: 5.5rem;
  }


}

.app-page-container-top {
  display: block;
  padding-top: 4rem;
  padding-bottom: 4.5rem;
}

.app-container {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.app-center-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.app-form-flex {
  display: flex;

  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  >* {
    width: 100%;
  }

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }

  >.app-form-title {
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }

  >.app-form-message {
    margin-top: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  >.app-form-action {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;

    &.vertical {
      flex-direction: column;
    }

    &.horizontal {
      flex-direction: row;
    }

    &.center {
      justify-content: center;
    }

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }

    &.between {
      justify-content: space-between;
    }

    &.around {
      justify-content: space-around;
    }
  }
}

.app-no-item-container {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: larger;
  color: gray;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.app-paginator {
  &.center {
    .mat-mdc-paginator-container {
      justify-content: center;
    }
  }
}

.app-btn-add {
  position: absolute !important;
  right: 1.5rem;
  bottom: 3.5rem;
  z-index: 20;
}

.app-page-list-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.app-list-search-container {
  z-index: 99999;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
}

.app-pagination-container {
  padding: 0.5rem;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5.5rem;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
}


.app-list-search-container {
  &.list {
    left: 200px;
    transition: all .2s;
  }
}

.app-page-list-container {

  &.list {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}


.app-pagination-container {
  &.list {
    bottom: 0;
    left: 200px;
    transition: all .2s;
  }
}




.ant-layout-sider.ant-layout-sider-collapsed~.ant-layout .app-list-search-container.list {
  left: 0;

}

.ant-layout-sider.ant-layout-sider-collapsed~.ant-layout .app-pagination-container.list {
  left: 0;
}





.app-list-container {
  .ant-list-item {
    padding: 0px 0px;
    border: 0px;
    height: 100%;
    
    .app-item-list:active {
      background-color: #a4cff8;
    }    

    .app-item-list {
      border-top: solid 0.5px #a4a4a4;
      border-bottom: solid 0.5px #a4a4a4;
      width: 100%;
      padding: 0.5rem 0.5rem;
      display: flex;
      flex-wrap: wrap;

      .app-item-list-info{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding-right: 1rem;

        .app-item-list-info-main{


          .app-item-list-info-sub-title{
            color: #1890ff;
            font-weight: 300;
          }
          .app-item-list-info-title{
            font-weight: 500;
            font-size: medium;
          }
        }

        .app-item-list-info-extra{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
        

      }

      .app-item-list-extra{
        display: flex;
        flex-direction: column;
      }

    }
  }

}