

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$usahaku-app-primary: mat.define-palette(mat.$brown-palette, 700, A200,800);
$usahaku-app-accent: mat.define-palette(mat.$teal-palette, 500, A200, 800);

// The warn palette is optional (defaults to red).
$usahaku-app-warn: mat.define-palette(mat.$deep-orange-palette,A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$usahaku-app-theme: mat.define-light-theme((
  color: (
    primary: $usahaku-app-primary,
    accent: $usahaku-app-accent,
    warn: $usahaku-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($usahaku-app-theme);
// @include mat.core-theme($app-theme-light);

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import "./styles/fonts.scss";
// @import "./assets/icon-fonts/font-awesome/css/all.css";

html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: white;
    margin:0;
}

// [type='text']:focus, 
// [type='email']:focus, 
// [type='url']:focus, 
// [type='password']:focus, 
// [type='number']:focus, 
// [type='date']:focus, 
// [type='datetime-local']:focus, 
// [type='month']:focus, 
// [type='search']:focus, 
// [type='tel']:focus, 
// [type='time']:focus, 
// [type='week']:focus, 
// [multiple]:focus, 
// textarea:focus, 
// select:focus {
//     outline: 2px solid transparent;
//     outline-offset: 2px;
//     --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
//     --tw-ring-offset-width: 0px;
//     --tw-ring-offset-color: #fff;
//     --tw-ring-color: transparent;
//     --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
//     --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
//     box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
//     border-color: #2563eb;
// }
.color-white{
    color:white !important;
}
.bg-color-white{
    background-color: white;
}

.color-primary{
    color: mat.get-color-from-palette($usahaku-app-primary, 700);
}
.color-primary-lighter{
    color: mat.get-color-from-palette($usahaku-app-primary, A200);
}
.color-primary-darker{
    color: mat.get-color-from-palette($usahaku-app-primary, 800);
}
.color-accent{
    color: mat.get-color-from-palette($usahaku-app-accent, 500);
}
.color-accent-lighter{
    color: mat.get-color-from-palette($usahaku-app-accent, A200);
}
.color-accent-darker{
    color: mat.get-color-from-palette($usahaku-app-accent, 800);
}
.color-warn{
    color: mat.get-color-from-palette($usahaku-app-warn);
}
.bg-color-primary{
    background-color: mat.get-color-from-palette($usahaku-app-primary, 700)  !important;
}
.bg-color-primary-lighter{
    background-color: mat.get-color-from-palette($usahaku-app-primary, A200) !important;
}
.bg-color-primary-darker{
    background-color: mat.get-color-from-palette($usahaku-app-primary, 800) !important;
}
.bg-color-accent{
    background-color: mat.get-color-from-palette($usahaku-app-accent, 500) !important;
}
.bg-color-accent-lighter{
    background-color: mat.get-color-from-palette($usahaku-app-accent, A200) !important;
}
.bg-color-accent-darker{
    background-color: mat.get-color-from-palette($usahaku-app-accent, 800) !important;
}
.bg-color-warn{
    background-color: mat.get-color-from-palette($usahaku-app-warn) !important;
}
.app-title{
    color: mat.get-color-from-palette($usahaku-app-primary, 700);
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    margin-left: 1rem;
}
.app-container{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.app-showcase-items-container{
    min-height: 100%;
    display: grid !important;
    grid-template-rows: 1fr auto;
}
.app-showcase-items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    // a{
    //     text-decoration: none;
    // }
    // .show-case-shop-item-ku{
    //     -webkit-tap-highlight-color: transparent;
    //     width: calc((100% / 4) - 14px);
    //     margin: 7px;
    //     &.handset{
    //         width: calc((100% / 2) - 14px);
    //         img{
    //             height: 272px;
    //             object-fit: cover;
    //         }
    //     }
    //     &.tablet{
    //         width: calc((100% / 3) - 14px);
    //         img{
    //             height: 316px;
    //             object-fit: cover;
    //         }
    //     }
    //     img{
    //         height: 284px;
    //         object-fit: cover;
    //     }
    // }
}
.showcase-card-item {
    width: calc((100% / 4) - 46px);
    margin: 7px;
    &.phone{
        width: calc((100% / 2) - 46px);
    }
    &.tablet{
        width: calc((100% / 3) - 46px);
    }
}

.app-showcase-items-pagination{
    // margin-top: 1rem;
    // margin-bottom: 1rem;
}
.nav-page-action{
    margin-left: 4px;
}
.nav-page-title{
    font-size: larger;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    margin-left: 4px;
}
.app-sidenav-layout-container{
    height: 100%;
    width: 100%;
    
}
.app-sidenav-container{
    width: 400px;
    height: 100%;
    background-color: white;
    &.handset{
        width: 100%;
    }
    .side-nav-header{
        position: sticky;
        top:0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
}
.app-sidenav-content-list{
    overflow-x: auto;
    overflow-y: auto;
}
.app-sidenav-content{
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    // width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid !important;
    grid-template-rows: auto 1fr auto;
    // &#workspace{
    //     grid-template-rows: auto auto 1fr auto;
    // }
}

// .app-sidenav-content-header > .workspace-page-nav{
//     width: 100%;
//     height: 100%;
//     background-color: white;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     justify-items: center;
// }
.app-sidenav-content-header{
    z-index: 20;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    border-bottom-width: 1px;
    height: 4rem/* 64px */;
    border-color: rgba(209, 213, 219, 1);
    box-shadow: 0px -3px 10px 0px;
    > * {
        background-color: rgba(255, 255, 255, 1);
    }
}
.app-sidenav-content-utility{
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.app-sidenav-content-route{
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 1);


}
.app-sidenav-content-footer{
    z-index: 20;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    border-top-width: 1px;
    height: 4rem/* 64px */;
    border-color: rgb(178, 179, 180);
    box-shadow: 0px 3px 10px 0px;
    > * {
        background-color: rgba(255, 255, 255, 1);
    }
}

.btn-fab-stick{
    position: absolute !important;
    right: 1rem;
    bottom: 5rem;
    z-index: 21;
}

.app-tooltip{
    font-size: large;
}

.no-content{
    width: 100%;
    
    display:flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: x-large;
    color:gray;
    text-align: center;
    overflow-y: hidden;
}






.el-prefix, .el-suffix{
    display: inline-block;
    padding: 0 0.15rem;
}



.scrollbar-thin::-webkit-scrollbar {
    height: 5px;
    cursor: pointer;
    width: 5px;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/

}
.scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, 0.7);
    cursor: pointer;
    /*background: red;*/
}
.scrollbar-thin::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #a0aec0;
    /*outline: 1px solid slategrey;*/
}
#barcode-camera{
    margin-top:-1.3rem;
    height: calc(100% - 90px + 1.28rem);
} 
#barcode-camera > video{
    height: 100%;
}

.img-preview{
    max-height: 480px;
    background-size: cover;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}


.img-preview > app-button-upload-file{
    position: absolute;
    right: 1rem;
    bottom: -1rem;
}
.form-input-container{
    // margin-top: 1rem;
    >.mat-form-field {
   // width: 100%;
   margin-top: 16px;
   margin-left: 1rem;
   margin-right: 1rem;
   display: block;
  }
}
.form-action-container{
    // width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}
.group-product-container{
  >.group-product-list-container{
    max-height: 180px;
    overflow-y: auto;
  }
}
.group-product-label{
  margin-bottom: 10px;
}

.app-btn-add{
    position: absolute !important;
    right: 1.5rem;
    bottom: 5.5rem;
    z-index: 20;
}

.app-list-container{
    width: 100%;
    padding-bottom: 5rem;
}
.app-item-list-continer{
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    height: 100% !important;
    width: 100%;
}
.app-item-list-content{
    width: 100%;
    height: 100%;
}

.app-no-item-container{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: larger;
    color: gray;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.app-list-page{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-content: center;
    align-items: center;
}