<div class="app-w-full app-h-full">
    <div>

        <form [formGroup]="form">
            <mat-form-field appearance="fill" class="app-w-full ">
                <mat-label>Tipe</mat-label>
                <mat-select formControlName="Type">
                    <mat-option [value]="i" *ngFor="let itemType of typeOptions; let i=index">{{itemType}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="app-w-full ">
                <mat-label>Tahun</mat-label>
                <mat-select formControlName="Year">
                    <mat-option [value]="itemYear" *ngFor="let itemYear of yearOptions">{{itemYear}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>

    <div echarts [options]="chartOption" [loading]="isLoading" theme="macarons"></div>
</div>