<form class=""
    style="position: sticky;top: 0rem;background-color:white;padding:0px 1rem;z-index:19;" [formGroup]="formSearch" (ngSubmit)="searchEnterpriseSubmit()">
    <mat-form-field class="" style="height: 100%; width: 100%; margin-top:0.5rem;" floatLabel="never" appearance="fill">
        <input type="text"  matInput placeholder="Cari usaha" formControlName="Name">
        <span matSuffix>
            <i class="fa fa-search"></i>
        </span>
    </mat-form-field>
</form>
<div *ngIf="((mybusinesseslist$ | async)?.length === 0); else listMyBussinessBlock" class="no-content" style="height:calc(100% - 6rem);">
    <div style="padding: 2rem 1rem;">
        <p style="white-space:pre-wrap;" [innerHTML]="messageStatusList"> </p>
    </div>
</div>
<ng-template #listMyBussinessBlock>
    <div class="container-card-list" [ngClass]="{
        'handset': (isHandset$|async),
        'tablet': (isTablet$|async),
        'web': (isWeb$|async)
    }" > 
        <app-my-businesses-list-item class="card-list-item" *ngFor="let item of mybusinesseslist$ | async"  [data]="item"></app-my-businesses-list-item>
    </div>
</ng-template>

<!-- <app-button-ku-circle class="absolute right-4 md:right-6 bottom-20 text-2xl " theme="satu" additionalClass="w-10 h-10" (click)="addBusinessDialog()">
    <i class="fa fa-plus"></i>
</app-button-ku-circle> -->

<button mat-fab color="accent" class="app-btn-add" matTooltip="Tambah Usaha Baru" matTooltipPosition="before" matTooltipClass="app-tooltip" matTooltipHideDelay="400" (click)="addBusinessDialog()">
    <fa-icon [icon]="icons.add"></fa-icon>
</button>
