<div class="bussiness-liss-container">
  <form class="form-input-container" [formGroup]="formSearch">
    <mat-form-field floatLabel="never" appearance="fill">
      <input
        type="text"
        matInput
        placeholder="Cari usaha"
        formControlName="Search"
      />
      <span matSuffix>
        <i class="fa fa-search"></i>
      </span>
    </mat-form-field>
  </form>
  <div>
    <ng-container *ngIf="mybusinesseslist$ | async as mybusinesseslist">
      <div
        *ngIf="mybusinesseslist?.length > 0; else noItem"
        class="container-card-list app-list-contaner"
        [ngClass]="screenSize$ | async"
      >
        <app-my-businesses-list-item
          class="card-list-item"
          *ngFor="let item of mybusinesseslist"
          [data]="item"
        ></app-my-businesses-list-item>
      </div>
    </ng-container>
    <ng-template #noItem>
      <div class="app-no-item-container ">
        <span>Tidak ada usaha.</span>
      </div>
    </ng-template>
  </div>
 
  <app-pagination
    [pageSize]="formSearch.controls.PageSize.value"
    [pageNumber]="formSearch.controls.PageNumber.value"
    (pageSelectedChanged)="pageSelectedChanged($event)"
    (nPageChanged)="paginationNChanged($event)"
  ></app-pagination>
</div>

<button
  mat-fab
  color="accent"
  class="app-btn-add"
  matTooltip="Tambah Usaha Baru"
  matTooltipPosition="before"
  matTooltipClass="app-tooltip"
  matTooltipHideDelay="400"
  (click)="addBusinessDialog()"
>
  <mat-icon>{{ icons.add }}</mat-icon>
</button>
