.profile-section-container{
    display: flex;
    width: 100%;
    // background-color: red;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    >.profile-photo-container{
        display: flex;
        align-items: center;
        width: 50%;
        align-content: center;
        justify-content: flex-end;
        padding: 2rem;
    }
    >.profile-info-container{
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: start;
        align-content: center;
        padding: 2rem;
    
        
    }
    

}

.profile-button-group-container{
    width: 100%;
    // background-color: green;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    
}
.profile-card-section{
    padding-top: 2rem;
    width: 100%;
    // background-color: violet;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    >*{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .card-icon{
        font-size: 5rem;
    }
    .card-title{
        font-size: medium;
        text-align: center;
    }
    .card-content{
        font-size: large;
        text-align: center;
        font-weight: 700;
    }
}