<div class="profile-page-container" >
  <div class="profile-section-container" >
    <div class="profile-photo-container">
      <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar>
    </div>
    <div class="profile-info-container" >
      <div>
        <nz-descriptions
          nzLayout="vertical"
          [nzColumn]="{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }"
        >
          <nz-descriptions-item nzTitle="Nama"
            ><span>Sulaiman Triarjo</span></nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="Email"
            ><span>s.triarngmail.com</span></nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="No. Telepon"
            ><span>+62 85 7555 191 23</span></nz-descriptions-item
          >
        </nz-descriptions>
      </div>
    </div>
  </div>
  <div class="profile-button-group-container">
    <nz-button-group>
      <button nz-button nzType="primary" nzSize="large">
        <span nz-icon nzType="edit"></span>
        <span>Ubah</span>
      </button>
      <button nz-button nzType="primary" nzSize="large">
        <span nz-icon nzType="share-alt"></span>
        <span>Share</span>
      </button>
      <button nz-button nzType="primary" nzSize="large">
        <span nz-icon nzType="logout"></span>
        <span>Logout</span>
      </button>
    </nz-button-group>
  </div>
  <div class="profile-card-section">
    <nz-card style="width: 300px" [nzCover]="coverTemplateFollower">
        <div class="card-title">
            <span>Total Pengikut</span>
        </div>
        <div class="card-content">
            <span>200</span>
        </div>
    </nz-card>
    <ng-template #coverTemplateFollower>
        <span nz-icon nzType="team" class="card-icon"></span>
    </ng-template>

    <nz-card style="width: 300px" [nzCover]="coverTemplateFollowing">
        <div class="card-title">
            <span>Total Mengikuti</span>
        </div>
        <div class="card-content">
            <span>200</span>
        </div>
    </nz-card>
    <ng-template #coverTemplateFollowing>
        <span nz-icon nzType="solution" class="card-icon"></span>
    </ng-template>

    <nz-card style="width: 300px" [nzCover]="coverTemplateShop">
        <div class="card-title">
            <span>Total Usaha</span>
        </div>
        <div class="card-content">
            <span>200</span>
        </div>
    </nz-card>
    <ng-template #coverTemplateShop>
        <span nz-icon nzType="shop" class="card-icon"></span>
    </ng-template>

    <nz-card style="width: 300px" [nzCover]="coverTemplateEmployee">
        <div class="card-title">
            <span>Total Pegawai</span>
        </div>
        <div class="card-content">
            <span>200</span>
        </div>
    </nz-card>
    <ng-template #coverTemplateEmployee>
        <span nz-icon nzType="user" class="card-icon"></span>
    </ng-template>
  </div>
</div>
