
<!-- <app-portal-container [querySelector]="'nav#main-header'"> -->
    <!-- <mat-toolbar  fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="12px" >
        
        <span  >Usahaku</span>
        <div fxFlex="auto">

        </div>
        <a mat-icon-button  *ngFor="let item of navList" [routerLink]="item.link" routerLinkActive="router-link-active" color="primary">
            <mat-icon>{{item.data.icon}}</mat-icon>
        </a>
    </mat-toolbar> -->
<!-- </app-portal-container> -->