


    <div class="group" [formGroup]="form">
        <mat-form-field appearance="fill" shouldLabelFloat="true" floatLabel="always">
            <mat-label>Nama Usaha</mat-label>
            <input matInput placeholder="Nama Usaha" formControlName="Name" required>
            <mat-hint class="color-warn" *ngIf="(Name?.dirty || Name?.touched) && Name?.errors?.required">Nama usaha harus diisi.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Name?.errors?.maxlength">Maksimal panjang nama usaha 255 karakter.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" shouldLabelFloat="true" floatLabel="always">
            <mat-label>Kode</mat-label>
            <!-- <mat-select formControlName="Code" placeholder="Kode" required>
                <mat-option *ngFor="let item of codes" [value]="item">{{item}}</mat-option>
            </mat-select> -->
            <input matInput formControlName="Code" placeholder="Kode" [matAutocomplete]="codeSuggestions" required>
            <mat-autocomplete autoActiveFirstOption #codeSuggestions="matAutocomplete">
                <mat-option value="" disabled *ngIf="codes && codes.length>0">Saran kode</mat-option>
                <mat-option *ngFor="let option of codes" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint class="color-warn" *ngIf="(Code?.dirty || Code?.touched) && Code?.errors?.required">Kode usaha harus diisi.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Code?.errors?.maxlength">Maksimal panjang nama usaha 255 karakter.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Code?.errors?.enterpriseCodeAvailabilityError">Kode usaha sudah terpakai.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100p" shouldLabelFloat="true"  floatLabel="always">
            <mat-label>Jenis Usaha</mat-label>
            <mat-select formControlName="EnterpriseTypeId" placeholder="Jenis Usaha" required>
                <mat-option *ngFor="let item of enterpriseTypes" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-hint class="color-warn" *ngIf="(EnterpriseTypeId?.dirty || EnterpriseTypeId?.touched) && EnterpriseTypeId?.errors?.required">Jenis isaha harus diisi.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100p" shouldLabelFloat="true" floatLabel="always">
            <mat-label>Nomor Telepon</mat-label>
            <input matInput placeholder="Nomor Telepon" formControlName="Phone" required>
            <mat-hint class="color-warn" *ngIf="(Phone?.dirty || Phone?.touched) && Phone?.errors?.required">Nomor telepon usaha harus diisi.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Phone?.errors?.maxlength">Maksimal panjang nomor telepon usaha 13 karakter.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Phone?.errors?.minlength">Minimal panjang nomor telepon usaha 10 karakter.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Phone?.errors?.pattern">Nomor telepon usaha hanya menerima karakter angka.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100p" shouldLabelFloat="true" floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="Email" required>
            <mat-hint class="color-warn" *ngIf="(Email?.dirty || Email?.touched) && Email?.errors?.required">Email usaha harus diisi.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Email?.errors?.maxlength">Maksimal panjang email usaha 255 karakter.</mat-hint>
            <mat-hint class="color-warn" *ngIf="Email?.errors?.email">Mohon masukkan email usaha yang valid.</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-100p" shouldLabelFloat="true" floatLabel="always">
            <mat-label>Deskprisi Usaha</mat-label>
            <textarea matInput placeholder="Deskprisi Usaha" formControlName="Description" MatTextareaAutosize cdkTextareaAutosize="true" cdkAutosizeMinRows="4" cdkAutosizeMaxRows="12"></textarea>
        </mat-form-field>
    </div>
   
