<!-- barcode barang  -->
<tr>
    <td colspan="2"><span style="background-color: rgb(10, 230, 50); padding:2px 5px;" class="bg-green-200 px-1" *ngIf="data.isWholesalerPrice===true">Grosir</span></td>
    <td colspan="2" class="mat-small" style="margin-left: 3px;">
        {{data.barcode}}
    </td>
</tr>
<!-- end barcode barang  -->
<!-- info barang  -->
<tr class=" border-b border-gray-50 clickable"  (click)="toogleAdditionalPanel()">
    <td class="w-20" style="width: 40px;max-width: 80px;">
        {{data.n}}
    </td>
    <td style="padding-left:4px;" >{{data.name}}</td>
    <td style="padding-right:10px; text-align: right;" >{{data.priceTotalFinal|currency:'Rp.  ':'symbol':'0.0-0'}}</td>
</tr>
<!-- end info barang  -->
<!-- promo yang aktif  -->
<!-- <tr class="" > 
    <td colspan="3">
        <mat-chip-list style="width: 100%; padding-top: 2px;padding-bottom: 2px;">
            <mat-chip color="accent" selected>Beli 1 Gratis 1</mat-chip>
        </mat-chip-list>
    </td>
    <td colspan="1"></td>
</tr> -->
<!-- end promo yang aktif  -->
<!-- promo yang ada  -->
<!-- <tr class="border-t border-gray-50" style="border-top: 1px solid rgb(165, 165, 165);" *ngIf="isAdditionalPanelOpened"> 
    <td colspan="4">
        <mat-chip-list style="width: 100%; padding-top: 2px;padding-bottom: 2px;">
            <mat-chip >Beli 10 Gratis 1 Mangkok</mat-chip>
        </mat-chip-list>
    </td>
</tr> -->
<!-- end promo yang ada  -->
<!-- diskon tambahan  -->
<tr *ngIf="isAdditionalPanelOpened"> 
    <td colspan="4">
        <div class="w-full py-2" style="width: 100%; padding-top: 1rem;padding-bottom: 2px;">
                <table  style="width: 100%; table-layout: auto; display: table; border-collapse:collapse;">
                    <tbody  style="border-bottom: 1px solid rgb(165, 165, 165);">
                        <tr>
                            <td style="text-align: right;">Harga satuan :</td>
                            <td  style="text-align: right; padding-right: 10px;">{{data.pricePerItem |currency:'Rp.  ':'symbol':'0.0-0'}}</td>
                        </tr>
                        <tr>
                            <td  style="text-align: right;">Diskon satuan :</td>
                            <td  style="text-align: right;padding-right: 10px;">
                                {{data.discountItem |currency:'Rp.  ':'symbol':'0.0-0'}}
                            </td>
                        </tr>
                        <tr>
                            <td  style="text-align: right;">Harga satuan akhir :</td>
                            <td style="text-align: right; padding-right: 10px;">{{data.pricePerItemAfterDiscount|currency:'Rp.  ':'symbol':'0.0-0'}}</td>
                        </tr>
                    </tbody>
                    <tbody style="border-top: 1px solid rgb(165, 165, 165);">
                        <tr>
                            <td  style="text-align: right;">Harga total :</td>
                            <td  style="text-align: right; padding-right: 10px;">
                                {{data.priceTotal |currency:'Rp.  ':'symbol':'0.0-0'}}
                            </td>
                        </tr>
                        <tr>
                            <td  style="text-align: right;">Diskon total :</td>
                            <td style="text-align: right; padding-right: 10px;">
                                {{data.discountItemTotal |currency:'Rp.  ':'symbol':'0.0-0'}}
                            </td>
                        </tr>
                        <tr>
                            <td  style="text-align: right;">Harga total akhir :</td>
                            <td  style="text-align: right; padding-right: 10px;">
                                {{data.priceTotalAfterDiscount|currency:'Rp.  ':'symbol':'0.0-0'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            
        </div>
    </td>
</tr>
<!-- end diskon tambahan  -->