<div class="info-enterprise-container">
    <div class="banner-enterprise">
        <div class="banner-name">
            <span class="mat-h2">Nama Toko</span>
        </div>
    </div>
    <div class="detail-enterprise">
        <table>
            <tr>
                <td>
                    <div>Kategori</div>
                    <div>abcde</div>
                </td>
                <td>
                    <div>Rating</div>
                    <div>******</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Email</div>
                    <div>a@gmail.com</div>
                </td>
                <td>
                    <div>Lokasi</div>
                    <div>iconPinLoc</div>
                </td>
            </tr>
        </table>
        <div >
            <div>Deskripsi</div>
            <div>
                Isi Deskripsi
            </div>
        </div>
    </div>
</div>

<div>Pencarian</div>
<!-- sticky -->
<mat-tab></mat-tab> 

<!-- Halaman Utama, produk terbaru, produk terlaris, kategori, review toko -->