<app-portal-container querySelector="#workspace-header">
    <app-nav-page [title]="titlePage" ></app-nav-page>
</app-portal-container>
<ng-container *ngIf="(idUsaha$|async) as idUsaha ">
    <ng-container *ngIf="(dataGoods$|async) as dataGoods">
        <app-form-info-product-ku 
            [idUsaha]="idUsaha" 
            [dataGoods]="dataGoods" 
            (updateInfoClickEvent)="update(dataGoods.id)"
            (updatePriceClickEvent)="updatePrice(dataGoods.id, dataGoods.wholePrices)"
            (addStockClickEvent)="addStock(dataGoods.id)"
            (adjustStockClickEvent)="adjustStock(dataGoods.id)"
            ></app-form-info-product-ku>
    </ng-container>
</ng-container>
