<mat-toolbar class="nav-page" [color]="color" [ngClass]="color==='' ? 'bg-color-white':''">
    <button 
    type="button"
    mat-icon-button 
    class="nav-page-action" 
    [color]="color===''?'primary':''"
    appButtonBack
    [backLink]="linkBack"
    [replaceUrl]="replaceUrl"
    >
    <!-- <fa-icon [icon]="backIcon"></fa-icon> -->
    <mat-icon>{{backIcon}}</mat-icon>
        <!-- <i class="fa fa-arrow-left" [ngClass]="color==='' ? 'color-primary':''" aria-hidden="true"></i> -->
    </button>
    <h1 class="nav-page-title" [ngClass]="color==='' ? 'color-primary':''">{{title}}</h1>
</mat-toolbar>