<div class="product-list-page">
        <button mat-icon-button color="primary" (click)="fastPreviousPage()" [disabled]="(isFirstPage$ | async) ">
            <mat-icon>{{iconFullBack}}</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="previousPage()" [disabled]="(isFirstPage$ | async) ">
            <mat-icon>{{iconBack}} </mat-icon>
        </button>
    <form [formGroup]="formSearch">
            <mat-label>Page</mat-label>
            <mat-select formControlName="PageNumber" (selectionChange)="selectPage($event)">
                <mat-option *ngFor="let p of formSearch.controls.Pages.value"  [value]="p">{{p}}</mat-option>
            </mat-select>
    </form>
        <button mat-icon-button color="primary" (click)="nextPage()" [disabled]="(isLastPage$ | async)">
            <mat-icon>{{iconForward}}</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="fastNextPage()" [disabled]="(isLastPage$ | async)">
            <mat-icon>{{iconFullForward}} </mat-icon>
        </button>
    
</div>