

.form-input-container{
    display: grid;
    padding: 1rem;
    column-gap: 1rem;
    &.handset{
        grid-template-columns: 1fr;
    }
    &.tablet{
        grid-template-columns: 1fr;
    }
    &.web{
        grid-template-columns: 1fr;
    }
    >.group{
       display: block;
       margin-top: 2.5rem;
    }
}

.form-action-container{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

// .img-preview > .btn-upload-file{
//     position: absolute;
//     right: 1rem;
//     bottom: -1rem;
// }

// .img-preview #img-input{
//     position: absolute;
//     left: 1rem;
//     bottom: -1rem;
// }
