<app-portal-container querySelector="#main-header">
  <app-nav-page title="Tambah Usaha Baru"></app-nav-page>
</app-portal-container>

<form style="width: 100%" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="app-form-message" *ngIf="formMessage$ | async as formMessage">
    <ng-container *ngIf="formMessage !== null">
      <span> </span>
    </ng-container>
  </div>
  <div class="form-input-container" [ngClass]="screenSize$ | async">
    <app-add-bussiness-photo-form
      [form]="form.controls.Photo"
    ></app-add-bussiness-photo-form>
    <app-add-bussiness-form
      class="group"
      [form]="form.controls.Info"
      [enterpriseTypes]="enterpriseTypes$ | async"
      [codes]="codes$ | async"
    ></app-add-bussiness-form>
    <fieldset class="group">
      <legend>Alamat</legend>
      <app-add-bussiness-address-form
        class="group"
        [form]="form.controls.Address"
      ></app-add-bussiness-address-form>
    </fieldset>
  </div>
  <div class="form-action-container">
    <button type="button" mat-stroked-button color="accent" appButtonKuBack>
      Batal
    </button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Buat
    </button>
  </div>
</form>
