@use '@angular/material' as mat;
@import "@angular/material/theming";
@import "./palette.scss";

// Define the default theme (same as the example above).
$light-chocolate: mat.define-palette($md-chocolate, 700, 400, 800);
$light-cream: mat.define-palette($md-cream, 700, A200, 800);
$light-cinnebar: mat.define-palette($md-cinnebar, 700, 400, 900);
$light-mimosa: mat.define-palette($md-mimosa, 700, 400,900);
$light-ebony: mat.define-palette($md-ebony, 700, 200, 900);
$light-warn:mat.define-palette(mat.$red-palette, A200, 200, 900);
$light-success:mat.define-palette(mat.$lime-palette, 500, 200, 900);

$light-theme: mat.define-light-theme((
    color: (
        primary: $light-chocolate,
        accent: $light-cinnebar,
        warn: $light-warn
    )
));

$dark-theme: mat.define-light-theme((
    color: (
        primary: $light-mimosa,
        accent: $light-cinnebar,
        warn: $light-warn
    )
));