<app-portal-container querySelector="#workspace-utility">
  <form class="w-full" [formGroup]="formSearch">
    <app-search-input-barcode
      labelName="Cari Produk"
      [parentForm]="formSearch"
      fieldName="Search"
      formControlName="Search"
      class="w-full h-full"
    ></app-search-input-barcode>
  </form>
  <mat-list class="list-search scrollbar-thin">
    <mat-list-item
      *ngFor="let item of searchList$ | async"
      style="
        width: 100%;
        border-top: 1px rgba(194, 192, 192, 0.856) solid;
        border-bottom: 1px rgba(194, 192, 192, 0.856) solid;
      "
      (click)="addItem(item)"
    >
      <app-pos-cashier-search
        [item]="item"
        style="width: 100%"
      ></app-pos-cashier-search>
    </mat-list-item>
  </mat-list>
  <!-- <div class="absolute top-11 left-0 right-0 w-full max-h-60 bg-gray-100 overflow-y-auto">
        <app-cashier-item-search *ngFor="let item of searchList$ | async" [item]="item" (click)="addItem(item.id)"></app-cashier-item-search>
    </div> -->
</app-portal-container>

<button
  mat-fab
  id="cashier-queue-btn"
  color="primary"
  *ngIf="!(bufferOpened$ | async)"
  matTooltip="Buka buffer antrian kasir"
  matTooltipClass="app-tooltip"
  (click)="toggleBuffer()"
>
  <!-- <fa-icon [icon]="icons.queue"></fa-icon> -->
  <mat-icon>{{ icons.queue }}</mat-icon>
</button>
<!-- <app-button-rectangle id="cashier-queue-btn" class="absolute left-0 bottom-16 order bg-dua z-20 shadow-lg " theme="dua" text="Buffer" *ngIf="!bufferOpened" (click)="toggleBuffer('open')"></app-button-rectangle> -->
<div
  id="cashier-queue"
  class="absolute left-0 top-36 bottom-28 w-72 h-60vh border bg-white z-20 shadow-lg flex flex-col mat-elevation-z8"
  *ngIf="bufferOpened$ | async"
>
  <mat-toolbar class="buffer-header" color="primary">
    <span>Buffer</span>
    <button mat-icon-button (click)="toggleBuffer()">
      <!-- <fa-icon [icon]="icons.close"></fa-icon> -->
      <mat-icon>{{ icons.close }}</mat-icon>
    </button>
  </mat-toolbar>
  <mat-action-list class="buffer-content scrollbar-thin">
    <ng-container *ngIf="indexQueueCurrent$ | async as indexQueueCurrent">
      <button
        mat-list-item
        *ngFor="let item of totalQueue$ | async; let i = index"
        [class]="indexQueueCurrent === item ? 'bg-color-accent' : ''"
        (click)="changeBuffer(item)"
      >
        {{ item }}
      </button>
    </ng-container>
  </mat-action-list>
  <div class="buffer-action">
    <button mat-icon-button color="warn" (click)="removeBuffer()">
      <!-- <fa-icon [icon]="icons.delete"></fa-icon> -->
      <mat-icon>{{ icons.delete }}</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="addBuffer()">
      <!-- <fa-icon [icon]="icons.add"></fa-icon> -->
      <mat-icon>{{ icons.add }}</mat-icon>
    </button>
  </div>
</div>

<div id="cashier-container" class="w-full h-full pt-3">
  <ng-container *ngIf="currenPosList$ | async as data">
    <ng-container *ngIf="data.items.length > 0">
      <div class="receipt-list-item-container">
        <table class="list-item-table">
          <app-pos-cashier-item
            class="receipt-item"
            *ngFor="let item of data.items; let i = index"
            [style]="
              i % 2 === 0 ? 'background-color: rgba(245,245,245,0.6);' : ''
            "
            [item]="item"
            (singleDiscChange)="singleDiscChange($event)"
            (totalDiscChange)="totalDiscChange($event)"
            (qtyChange)="changeQty($event)"
            (wholesalerToggleChange)="toggleWholesaler($event)"
          ></app-pos-cashier-item>
        </table>

        <table class="payment-table">
          <tfoot style="margin-top: 4px">
            <tr
              style="
                text-align: right;
                font-weight: 600;
                border-top: 1px solid gray;
                line-height: 2rem;
              "
            >
              <td colspan="3" class=""><span>Total Bayar : </span></td>
              <td colspan="1" style="padding-right: 10px">
                {{
                  data.totalPayment | currency : "Rp.  " : "symbol" : "0.0-0"
                }}
              </td>
            </tr>
            <tr style="text-align: right; border-top: 1px solid gray">
              <td colspan="3" class=""><span>Uang Bayar : </span></td>
              <td colspan="1" class="">
                <mat-form-field appearance="fill" floatLabel="never">
                  <span matPrefix>Rp.</span>
                  <app-input-currency
                    #paymentComp
                    (blur)="updatePayment(paymentComp)"
                    [value]="data.payment"
                  ></app-input-currency>
                </mat-form-field>
              </td>
            </tr>
            <tr
              style="
                text-align: right;
                border-top: 1px solid gray;
                padding-top: 3px;
                padding-bottom: 3px;
                line-height: 2rem;
              "
            >
              <td colspan="3" class=""><span>Kembalian : </span></td>
              <td colspan="1" class="pr-3" style="padding-right: 10px">
                {{ data.return | currency : "Rp.  " : "symbol" : "0.0-0" }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="receipt-action">
        <button mat-flat-button color="warn" (click)="cancel()">
          Batal
        </button>
        <button mat-raised-button color="primary" (click)="pay()">
          Bayar
        </button>
      </div>
    </ng-container>
  </ng-container>

  <!-- <app-cashier-item-container
    [index]="indexQueueCurrent"
    [data]="posList"
    (update)="update($event)"
    (pay)="pay($event)"
    (cancel)="cancel($event)"
  ></app-cashier-item-container> -->
</div>
