<!-- barcode barang  -->
<tr>
    <td colspan="2">
      <span style="background-color: rgb(10, 230, 50); padding:2px 6px;border-radius: 4px;" class="bg-green-200" *ngIf="item.isWholesalerPriceUsed">Grosir</span>
    </td>
    <td colspan="2" class="mat-small" style="margin-left: 3px">
      {{ item.barcode }}
    </td>
  </tr>
  <!-- end barcode barang  -->
  <!-- info barang  -->
  <tr class="border-b border-gray-50">
    <td class="w-20" style="width: 40px; max-width: 80px">
      <mat-form-field
        appearance="fill"
        floatLabel="never"
        style="max-width: 80px"
      >
        <input
          type="number"
          matInput
          #qtyinput
          (blur)="changeQty($event)"
          [value]="item.qty"
          style="text-align: right"
        />
      </mat-form-field>
    </td>
    <td>{{ item.goodsPackaging }}</td>
    <td
      class="clickable"
      style="padding-left: 4px; cursor: pointer"
      (click)="toogleAdditionalPanel()"
    >
      {{ item.name }}
    </td>
    <td
      class="clickable"
      style="padding-right: 10px; cursor: pointer; text-align: right"
      (click)="toogleAdditionalPanel()"
    >
      {{ item.usedTotalPrice | currency : "Rp.  " : "symbol" : "0.0-0" }}
    </td>
  </tr>
  <!-- end info barang  -->
  <!-- promo yang aktif  -->
  <!-- <tr class="" > 
      <td colspan="3">
          <mat-chip-list style="width: 100%; padding-top: 2px;padding-bottom: 2px;">
              <mat-chip color="accent" selected>Beli 1 Gratis 1</mat-chip>
          </mat-chip-list>
      </td>
      <td colspan="1"></td>
  </tr> -->
  <!-- end promo yang aktif  -->
  <!-- promo yang ada  -->
  <!-- <tr class="border-t border-gray-50" style="border-top: 1px solid rgb(165, 165, 165);" *ngIf="isAdditionalPanelOpened"> 
      <td colspan="4">
          <mat-chip-list style="width: 100%; padding-top: 2px;padding-bottom: 2px;">
              <mat-chip >Beli 10 Gratis 1 Mangkok</mat-chip>
          </mat-chip-list>
      </td>
  </tr> -->
  <!-- end promo yang ada  -->
  <!-- diskon tambahan  -->
  <tr *ngIf="isAdditionalPanelOpened">
    <td colspan="4">
      <div
        class="w-full py-2"
        style="width: 100%; padding-top: 2px; padding-bottom: 2px"
      >
        <div class="">
          <mat-slide-toggle
            class="text-semi-bold"
            color="accent"
            (change)="toggleWholesaler($event)"
            [disabled]="
              (item.isWholesalerPriceUsed && item.isWholesalerPriceAuto) ||
              item.wholessalePrices.length === 0 ||
              !item.isWholesaleAvailable
            "
            [checked]="item.isWholesalerPriceUsed"
          >
            Gunakan harga grosir
            <span
              class="text-semi-bold color-warn"
              *ngIf="!item.isWholesaleAvailable"
            >
              {{item.wholessalePrices.length > 0 ? '(Belum mencapai minimum qty)' : '(Tidak ada hargra grosir)'}}</span
            >
            <span
              class="text-semi-bold color-accent"
              *ngIf="item.isWholesalerPriceUsed && item.isWholesalerPriceAuto"
            >
              (Auto grosir)
            </span>
          </mat-slide-toggle>
        </div>
        <div>
          <table
            style="
              width: 100%;
              table-layout: auto;
              display: table;
              border-collapse: collapse;
            "
          >
            <tbody style="border-bottom: 1px solid rgb(165, 165, 165)">
              <tr>
                <td>Harga satuan :</td>
                <td style="text-align: right; padding-right: 10px">
                  {{
                    item.basePriceUsed | currency : "Rp.  " : "symbol" : "0.0-0"
                  }}
                </td>
              </tr>
              <tr>
                <td>Diskon satuan :</td>
                <td style="text-align: right">
                  <mat-form-field appearance="fill" floatLabel="never">
                    <span matPrefix>Rp.</span>
                    <app-input-currency
                      #singleD
                      (blur)="changeSingleDisc(singleD)"
                      [value]="item.singlePriceDisc"
                    ></app-input-currency>
                  </mat-form-field>
                  <!-- <div class="relative w-full p-0 ">
                                      <input type="text" class="bg-gray-100 w-full h-full border border-gray-300 text-right pl-6" (keyup)="changeSingleDisc($event)" value="0">
                                      <div class="absolute left-1 top-0 bottom-0 h-full table "><span class="table-cell align-middle">Rp.</span></div>
                                  </div> -->
                </td>
              </tr>
              <tr>
                <td>Harga satuan akhir :</td>
                <td style="text-align: right; padding-right: 10px">
                  {{ item.usedPrice | currency : "Rp.  " : "symbol" : "0.0-0" }}
                </td>
              </tr>
            </tbody>
            <tbody style="border-top: 1px solid rgb(165, 165, 165)">
              <tr>
                <td>Harga total :</td>
                <td style="text-align: right; padding-right: 10px">
                  {{
                    item.tempUsedTotalPrice
                      | currency : "Rp.  " : "symbol" : "0.0-0"
                  }}
                </td>
              </tr>
              <tr>
                <td>Diskon total :</td>
                <td style="text-align: right">
                  <mat-form-field appearance="fill" floatLabel="never">
                    <span matPrefix>Rp.</span>
                    <app-input-currency
                      #totalD
                      (blur)="changeTotalDisc(totalD)"
                      [value]="item.totalPriceDisc"
                    ></app-input-currency>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Harga total akhir :</td>
                <td style="text-align: right; padding-right: 10px">
                  {{
                    item.usedTotalPrice | currency : "Rp.  " : "symbol" : "0.0-0"
                  }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </td>
  </tr>
  <!-- end diskon tambahan  -->
  