form{
    margin-top: 1rem;
    >.mat-form-field {
   // width: 100%;
   display: block;
  }
}
ul{
    list-style-type: none;
}
.form-action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}