<mat-sidenav-container class="app-sidenav-layout-container" autosize>
  <mat-sidenav #drawer class="app-sidenav-container" style="width: 270px;" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="side-nav-header" style="background-color: white;">
      <div style="display: flex; flex-direction: row;align-items: center;" class="color-primary">
        <button mat-icon-button appButtonBack [replaceUrl]="true" [backLink]="linkBack" style="margin-right: 1rem;">
          <!-- <fa-icon [icon]="icons.home"></fa-icon> -->
          <mat-icon>{{icons.home}}</mat-icon>
        </button>
        <span>Dashboard</span>
      </div>
      <button mat-icon-button (click)="drawer.toggle()" cdkFocusInitial>
        <!-- <fa-icon [icon]="icons.close"></fa-icon> -->
        <mat-icon>{{icons.close}}</mat-icon>

      </button>
    </mat-toolbar>
    <mat-nav-list role="navigation">
      <a mat-list-item *ngFor="let item of navlist" [routerLink]="item.link" routerLinkActive="bg-color-primary color-white" > 
        <!-- <i [class]="item.data.icon" style="margin-right: 4px;"></i>  -->
        <mat-icon style="margin-right: 4px;">{{item.data.icon}}</mat-icon>
        {{item.data.text}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="dashboard" class="app-sidenav-content">
    <nav id="dashboard-header" class="app-sidenav-content-header"> 
      <mat-toolbar color="primary" class="dashboard-header-toolbar">
        <div class="dashboard-header-toolbar-left">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            style="margin-right: 1rem;"
            >
          <mat-icon>{{icons.menu}}</mat-icon>

            <!-- <fa-icon [icon]="icons.menu"></fa-icon> -->
          </button>
          <span>{{viewState.currentTab}}</span>
        </div>
        <div class="dashboard-header-toolbar-right" id="dashboard-header-toolbar-right">
        </div>
      </mat-toolbar>
    </nav>
    <div id="dashboard-utility" class="app-sidenav-content-utility"></div>
    <div id="dashboard-content" class="app-sidenav-content-route" cdkScrollable >
      <ng-content select="#dashboard-route"></ng-content>
    </div>
    <div id="dashboard-footer" class="app-sidenav-content-footer" *ngIf="viewState.isFooterBarNeedToBeShown"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
